
<tr class="forum <%= cycle("odd", "even") %>">
    <td>
        <h3><%= link_to forum.name, '#' %></h3>
        <div class='description'><%= forum.description %></div>
    </td>
    <td class="topics-count">wehh</td>
    <td class="posts-count">wehh</td>
    <td class="last_post">wehh</td>
</tr>