<!-- Forum container -->
<div class='panel panel-primary'>

	<!-- Forum name and description -->
	<div id='forum<%= forum.id %>' class='panel-heading'>
		<h2><%= link_to forum.name, category_path(forum.id) %></h2>
		<%= forum.description %>
	</div>

	<div class='panel-body'>
		<!-- Forum's topics -->
		<%= render 'topics/listing', :forum => forum %>
	</div>

	<!-- Empty stylistic footer -->
	<div class='panel-footer'>
	</div>
</div>