<br>
<footer id='footer' class="container-fluid">
	<div id="footer-row" class="row">
		<div class="col-md-6">
			<% if user_signed_in? %>
				<%= current_user.name %>
			<% end %>
		</div>

		<div class="col-md-3">
			<h4>List group</h4>
			<a href="#">Link 1</a><br>
			<a href="#">Link 2</a><br>
			<a href="#">Link 3</a><br>
		</div>

		<div class="col-md-3">
			<h4>List group</h4>
			<a href="#">Link 1</a><br>
			<a href="#">Link 2</a><br>
			<a href="#">Link 3</a><br>
		</div>
	</div>
</footer>