@import "bootstrap-sprockets";
@import "bootswatch/darkly/variables";
@import "bootstrap";
@import "bootswatch/darkly/bootswatch";
@import "font-awesome-sprockets";
@import "font-awesome";

.panel-body {
	padding:0px;
}

#topics-count, #posts-count, #last-post, #status {
	vertical-align: middle;
}

#status {
	text-align: center;
}

h1, h2, h3 {
	margin-top: 10.5px;
}

.title {
	width: 50%;
}

.topic-title {
	font-size: 1.4em;
}

.table {
	margin-bottom: 0px;
}

.floatr {
	float: right;
}

.floatl {
	float: left;
}

.btnbar {
	text-align: right;
}

.topbar {
	vertical-align: middle;
}

.post-container {
	padding: 15px;
	padding-top: 0px;
}

.topic-options {
	text-align: right;
	padding:3px;
}

.post-options {
	text-align: right;
}

.post-top {
	text-align: right;
}

@media only screen and (max-width: 800px) {
	
	/* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 0px solid #464545; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 0px solid #464545; 
		position: relative;
		white-space: normal;
		text-align:center;
	}

	#no-more-tables .post-userinfo, 
	#no-more-tables .post-top, 
	#no-more-tables .post-blank, 
	#no-more-tables .post-user-options {display: none;}

	#topics_table {
		@extend #no-more-tables;
	}

	#topics_table .posts-count,
	#topics_table .views-count {
		display: none;
	}
}

#error_explanation {
	@extend .alert;
	@extend .alert-danger;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    border-color: $state-danger-border;
  }
}

// .post-footer {
// 	background-color: $gray-darker;
// }

// .post-header {
// 	background-color: $gray-darker;
// }

.minibutton {
	@extend .btn;
	@extend .btn-sm;
	@extend .btn-primary;
}

.next {
	@extend .fa;
	@extend .fa-angle-right;
}

.previous {
	@extend .fa;
	@extend .fa-angle-left;
}

.last {
	@extend .fa;
	@extend .fa-angle-double-right;
}

.first {
	@extend .fa;
	@extend .fa-angle-double-left;
}

.closed {
	@extend .fa;
	@extend .fa-remove;
	@extend .fa-lg;
	color: $brand-danger;
}

.pinned {
	@extend .fa;
	@extend .fa-thumb-tack;
	@extend .fa-lg;
	color: $brand-warning;
}

#status {
	text-align: center;
	vertical-align: middle;
}

.paginator {
	@extend .pagination;
}

.new-topic {
	@extend .btn;
	@extend .btn-info;
}

.new-poll {
	@extend .btn;
	@extend .btn-warning;
}

.reply {
	@extend .btn;
	@extend .btn-info;
}

.button-container {
	@extend .col-md-3;
	text-align: right;
	margin: 21px 0px;
}

.reply-container {
	@extend .col-md-3;
	text-align: right;
	margin: 21px 0px;
}

.pagination-container {
	@extend .col-md-6;
	@extend .col-md-offset-3;
	text-align: center;
}

$border-radius-base:           3px;
$panel-border-radius:          $border-radius-base;
$panel-heading-padding:        10px 15px;
$panel-heading-padding-negate: -10px -15px;


.panel {
  .panel-heading {
    .nav-tabs {
      margin:$panel-heading-padding-negate;
      border-bottom-width:0;

      > li {
        > a {
          padding:$panel-heading-padding;
          margin-bottom:1px;
          margin-right:0;
          border-radius:0;

          border:solid 0 transparent;
          &:hover {
            border-color: transparent;
          }
        }


        &:first-child > a{
          border-top-left-radius:$panel-border-radius;
        }
        &:last-child > a {
          border-top-right-radius:$panel-border-radius;
        }

        &.active > a {
          &, 
          &:hover,
          &:focused {
            border:solid 0 transparent;
            background-color: #fff;						
          }
        }
      }
    }
  }
}