<!-- Category container -->
<div class='panel panel-primary'>

	<!-- Category name and description -->
	<div id='category_<%= category.id %>' class='panel-heading'>
		<h2><%= link_to category.name, category_path(category.id) %></h2>
		<%= category.description %>
	</div>

	<!-- Category's forums -->
	<div class='panel-body'>
		<%= render "forums/listing", :parent => category %>
	</div>

	<!-- Empty stylistic footer -->
	<div class='panel-footer'>
	</div>
</div>